body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gridRow{
    display: flex;
    
}

.gridColumn {
    outline: .5px solid black;
    /*flex:0;*/
   
}

button{
    
    font-size: 24px;
    width: fit-content;
    margin-bottom: 20px;
}

    